<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FLASK</title>
</head>
<body>
    <h1>##FLASK FRAMEWORK</h1>
    <br>
    <h3>Flask is a Python-based web development framework built with a small core and easy-to-extend philosophy.</h3>
    <br><br>
    <h1>##WHY FLASK?</h1>
    <br>
    <h3>Flask is also easy to get started with as a beginner since it contains very less code to start with.
    It allows the developer to run the website on the server with the DB connectivity as well.</h3>
</body>
</html>